streamlit
groq
langchain
langchain-community
PyPDF2
python-dotenv
chromadb
psycopg2-binary
python-docx
pdf2image
pytesseract
Pillow
python-pptx
bcrypt
protobuf
pysqlite3-binary
sentence-transformers
torch
transformers
numpy
